<app-widepanel>
    <h1>Let's get in touch!</h1>
</app-widepanel>

<app-floatingpanel cssClass="lightGray">
    <p>Want to learn more about me or my work? Have a question I can answer? Please feel free to reach out using the links below. While I monitor my inbox everyday,
        please allow up to 24-48 hours for a response.</p>
</app-floatingpanel>

<app-floatingpanel cssClass="darkBlue">
    <h1>Where to Find Me</h1>
    <p class="centered">Here is some of my contact information. I aim to keep this section up-to-date, and you can expect a reply from reasonable requests using any of
        the following:</p>

    <table id="contactTable">
        <tbody>
            <tr>
                <td class="lightBlue contactFormIcon">
                    <i class="far fa-envelope"></i>
                </td>
                <td class="contactFormDetail">
                    <p class="centered"><a href="mailto:hello@hadenwatne.com">hello@hadenwatne.com</a> | <a href="../../assets/haden_watne_public_key.asc">PGP</a></p>
                </td>
            </tr>
            <tr>
                <td class="lightBlue contactFormIcon">
                    <i class="fab fa-github"></i>
                </td>
                <td class="contactFormDetail">
                    <p class="centered"><a href="https://github.com/hwdotexe" target="_blank">@hwdotexe</a></p>
                </td>
            </tr>
            <tr>
                <td class="lightBlue contactFormIcon">
                    <i class="fab fa-stack-overflow"></i>
                </td>
                <td class="contactFormDetail">
                    <p class="centered"><a href="https://stackoverflow.com/users/15302833/hwdev?tab=profile" target="_blank">@hwdev</a></p>
                </td>
            </tr>
            <tr>
                <td class="lightBlue contactFormIcon">
                    <i class="fab fa-linkedin"></i>
                </td>
                <td class="contactFormDetail">
                    <p class="centered"><a href="https://www.linkedin.com/in/haden-watne/" target="_blank">View profile</a></p>
                </td>
            </tr>
        </tbody>
    </table>

    <app-dropexpand title="What does PGP mean?">
        <p>PGP stands for Pretty Good Privacy, and is a widely-used system for online encryption. I've attached my PGP public key to this website in case you would like to email
            me in an encrypted fashion. If that is the case, please indicate this in your email, and provide me with your public key in turn.</p>
        <p>I am currently using ProtonMail as my email service provider - if you are also using this service, our communication is already encrypted.</p>
    </app-dropexpand>
</app-floatingpanel>

<app-floatingpanel cssClass="red">
    <h2>Looking for Minecraft help?</h2>
    <p>If you have a question or issue regarding one of my Minecraft projects, please reach out via Github instead. The Github Issue tracker is a more visible and convenient way to
        discuss issues about the project. Emails about plugin issues may be filtered out.</p>
    <p>Thanks for your participation!</p>
</app-floatingpanel>