<app-widepanel>
    <h1>Let's get in touch!</h1>
</app-widepanel>

<app-floatingpanel cssClass="lightGray">
    <p>Want to learn more about me or my work? Have a question I can answer? Please feel free to reach out using the links below. While I monitor my inbox everyday,
        please allow up to 24-48 hours for a response.</p>
</app-floatingpanel>

<app-floatingpanel cssClass="darkBlue">
    <h1>Where to Find Me</h1>
    <p class="centered">Here is some of my contact information. Although I can't be found on most social media, I hope to hear from you using one of these alternatives!</p>

    <table id="contactTable">
        <tbody>
            <tr>
                <td class="lightBlue contactFormIcon">
                    <i class="far fa-envelope"></i>
                </td>
                <td class="contactFormDetail">
                    <p class="centered"><a href="mailto:hello@hadenwatne.com">hello@hadenwatne.com</a> | <a href="../../assets/publickey.hello@hadenwatne.com-311615a3faf730431f0b10b4da49f5957f944ac8.asc">PGP</a></p>
                </td>
            </tr>
            <tr>
                <td class="lightBlue contactFormIcon">
                    <i class="fab fa-github"></i>
                </td>
                <td class="contactFormDetail">
                    <p class="centered"><a href="https://github.com/hwdotexe" target="_blank">@hwdotexe</a></p>
                </td>
            </tr>
        </tbody>
    </table>
</app-floatingpanel>