/* Large Display */
@media screen and (min-width: 900px) {
    #content {
        margin: 30px auto;
        display: flex;
        max-width: 75%;
        border-radius: 5px;
    }

    #content app-sidebar {
        display: inline-block;
        vertical-align: top;
        width: 400px;
        padding: 5px;
        padding-bottom: 10px;
        border-radius: 5px 0 0 5px;
    }

    #content markdown {
        display: inline-block;
        width: 100%;
        padding: 0 35px;
        max-height: 1000px;
        overflow-y: scroll;
        border-radius: 0 5px 5px 0;
    }
}

/* Things smaller than that */
@media screen and (max-width: 900px){
    #content app-sidebar {
        display: block;
    }

    #content markdown {
        display: block;
        padding: 10px;
    }
}

#content markdown {
    word-wrap: break-word;
    font-family: 'Roboto', sans-serif;
    line-height: 1.3em;
}