/* Desktop-only (900px and above) */
@media screen and (min-width: 900px) {
    #footerContent ul {
        margin: 30px;
    }

    #footerContent {
        width: 50%;
    }

    #footerContent ul li {
        padding: 5px 20px;
    }
}

/* Things smaller than that */
@media screen and (max-width: 900px){
    #footerContent ul {
        margin: 10px;
    }

    #footerContent {
        width: 80%;
    }

    #footerContent ul li {
        padding: 0;
    }
}

#toggleTheme:hover {
    cursor: pointer;
}

#footer {
    max-width: 100%;
    padding: 15px;
}

#footerContent {
    margin: 0 auto;
    text-align: center;
}

#footerContent img {
    max-height: 100px;
}

#footerContent p {
    margin: 0;
}

#footerContent ul {
    padding: 0;
}

#footerContent ul li {
    display: inline-block;
    margin: 0 5px;
    font-weight: bold;
}

#footerContent a {
    color: var(--color-text-inverted);
}