<app-widepanel>
    <div>
        <h1>Breaking things for a living.</h1>
    </div>
</app-widepanel>

<app-floatingpanel cssClass="lightGray">
    <p>...well, that's what it feels like, sometimes.</p>
    <p>There's nothing better than fixing a difficult bug. Professionally and recreationally, code has always been something I found exciting. 
        Here is a glimpse of some things I can do as a developer. As technology continues to evolve, so has my list of experience, and I'm always watching for new innovations.</p>
</app-floatingpanel>

<app-floatingpanellite cssClass="blue">
    <div id="codeContainer">
        <table>
            <tbody>
                <tr>
                    <td>
                        <div>
                            <h1>Certs</h1>
                            <p>For a list of technical certifications I've acquired, please visit my Acclaim page below.
                                Acclaim is a third-party service where companies issue "badges" for various skills.</p>
                            <p class="centered"><a href="https://www.youracclaim.com/user/haden-watne" target="_blank">Go to Acclaim</a></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <h1>Skills</h1>
                            <ul>
                                <li>Agile, Scrum, and SAFe</li>
                                <li>Version Control</li>
                                <li>Virtual Machines</li>
                                <li>Full-stack Architecture</li>
                                <li>Unit Testing</li>
                                <li>Windows/Mac/Linux</li>
                                <li>REST APIs</li>
                                <li>Containerization</li>
                                <li>Production Releases</li>
                                <li>Accessibility</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <h1>Languages</h1>
                            <ul>
                                <li>Angular</li>
                                <li>JavaScript</li>
                                <li>HTML & CSS</li>
                                <li>C#</li>
                                <li>Python</li>
                                <li>SQL</li>
                                <li>Java</li>
                                <li>Swift</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <h1>Code Repos</h1>
                            <p>If you like code as much as I do, then please feel free to take a look at my Github and GitLab accounts! I'll start a new project every once in a while, so be on the lookout!</p>
                            <p class="centered"><a href="https://github.com/Cynicalvoe" target="_blank">See me on Github</a> • <a href="https://gitlab.com/Cynicalvoe" target="_blank">See me on GitLab</a></p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</app-floatingpanellite>