<div class="flex justify-center items-center text-center min-h-screen text-gray-800 dark:text-gray-300">
  <div class="p-3">
    <h1 class="font-game text-4xl mt-3">Lost in the forest</h1>
    <hr class="border-gray-600 border-b-2 my-6 mx-auto max-w-[90%] md:max-w-full" />
    <p class="italic py-2">The link you just tried to visit has sent you down a dark forest path. It's uncertain how to get home from here.</p>

    <a
      [routerLink]="['/adventure']"
      class="block p-3 my-6 rounded-md bg-gray-700 text-gray-100 hover:bg-gray-800 active:bg-gray-900 dark:bg-gray-900 dark:hover:bg-gray-950 dark:text-gray-200">
      Search for a way home
    </a>
  </div>
</div>
