<div class="flex justify-center items-center text-center min-h-screen text-gray-800 dark:text-gray-300">
  <div class="p-5 rounded-md shadow-md bg-white dark:bg-gray-900">
    <h1 class="font-legend text-4xl mt-3 ani">404</h1>
    <h1 class="font-legend text-5xl mt-3 ani">Lost in the forest</h1>
    <hr class="border-gray-600 border-b-2 my-6 mx-auto max-w-[90%] md:max-w-full" />
    <p class="font-story text-lg py-2">During your adventure, you got lost wandering down an unmarked path. A decision lies before you.</p>

    <a
      [routerLink]="['/']"
      class="inline-block p-3 my-6 mx-1 rounded-md text-gray-50 font-bold bg-ltDeepSky-100 hover:bg-ltDeepSky-200 active:bg-ltDeepSky-300">
      Back to Home
    </a>
    <a
      [routerLink]="['/adventure']"
      class="inline-block p-3 my-6 mx-1 rounded-md text-gray-50 font-bold bg-ltShamrock-100 hover:bg-ltShamrock-200 active:bg-ltShamrock-300">
      Go Exploring
    </a>
  </div>
</div>
