<app-widepanel>
    <h1>About Me</h1>
</app-widepanel>

<app-floatingpanel cssClass="lightGray">
    <p>I'm a 20-something technophile with a passion for building, learning, and implementing new ideas. After graduating college with degrees in <strong>Computer Information Systems</strong> and
        <strong>Business Administration</strong>, I've been working full-time as a software engineer. When I'm not at work, I enjoy video and tabletop gaming, casual hiking, and working on side programming projects.</p>
</app-floatingpanel>

<app-floatingpanel cssClass="blue">
    <h1>Q & A</h1>
    <p>Here are some questions commonly asked, as well as a few to help get to know me better.</p>

    <app-dropexpand title="How did you get into programming?">
        <p>When I was 11, I discovered a program to create my own computer games. With it came a simple language that was perfect for
        beginners like me. From there, I taught myself Java in order to mod my Minecraft server, and thus the snowball started
        rolling.</p>
        <p>If you're looking to get started with programming, I recommend beginning with <a href="https://www.python.org/downloads/" target="_blank">Python</a>
        because of its simple syntax. I also recommend checking out
        <a href="https://www.amazon.com/Python-Programming-Introduction-Computer-Science/dp/1590282752" target="_blank">this book</a> to
        get you started! #NotSponsored</p>
    </app-dropexpand>
    <app-dropexpand title="Do you have any tutorials available?">
        <p>Yes! I've recently put together the <a [routerLink]="['../scrolls']">Scrolls</a> page, which is a collection of guides and
        tutorials written by me. Very beginner-friendly and growing all the time! I encourage you to check it out!</p>
    </app-dropexpand>
    <app-dropexpand title="I love your website, where'd you get it?">
        <p>Thank you! This website was fully designed by me, so I didn't buy it from anywhere.</p>
    </app-dropexpand>
    <app-dropexpand title="Mac or PC?">
        <p>The short answer: Yes.</p>
        <p>The slightly longer answer: I own both, and I think both have their strengths and weaknesses. It's all about using the right tool for the job,
            and how easily you want to accomplish the task. I love my Mac, I've built my own PC, and I use both pretty regularly.
        </p>
    </app-dropexpand>
    <app-dropexpand title="Android or iOS?">
        <p>iOS</p>
    </app-dropexpand>
    <app-dropexpand title="What is your personality in 12 characters or less?">
        <p>INTJ-T / 5w4</p>
    </app-dropexpand>
    <app-dropexpand title="Favorite Anime?">
        <p>Fullmetal Alchemist: Brotherhood</p>
        <p>(Though, Season 1 of The Promised Neverland is a close runner-up)</p>
    </app-dropexpand>
    <app-dropexpand title="I have a million-dollar app idea! Will you make it for me?">
        <p>Unfortunately, I can't commit extra time to building new projects right now. However, having an exciting idea for a project is a great way to begin your
            own programming journey! The task may seem daunting, but with enough practice, programming can be both easy and fun. Give it a try!</p>
        <p>See my answer above for some resources on learning to program, or take a look at the <a [routerLink]="['../scrolls']">Python Programming I</a>
        Scroll series to dive right in!</p>
    </app-dropexpand>
    <app-dropexpand title="Can I follow you on social media?">
        <p>Thank you for your interest! Unfortunately, I'm not a big social media user, so I don't have any public accounts to share. The only social media account I have
            is kept private for close friends and family only. I do not have a Facebook / LinkedIn / Twitter page, and there are no plans to open one at this time.</p>
        <p>I do have a small list of accounts to see over on the <a [routerLink]="['../contact']">Contact</a> page, so please feel free to check them out!</p>
    </app-dropexpand>
    <p>Can't find the answer you're looking for? Feel free to <a [routerLink]="['../contact']">get in touch</a>!</p>
</app-floatingpanel>