{
  "singleQuote": true,
  "printWidth": 150,
  "trailingComma": "none",
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "semi": true,
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": true,
  "proseWrap": "always",
  "editor.formatOnSave": true
}
