<div class="bg-sky-800 dark:bg-gray-900 py-2 lg:mt-4">
    <div class="m-auto w-10/12 lg:w-1/2 text-center">
        <img src="../../assets/img/logos/logo_tp.png" class="max-h-16 m-auto p-1 lg:max-h-20"/>
        <ul class="font-body text-sm text-white inline-block">
            <li class="inline-block px-2"><a [routerLink]="['']">Home</a></li>
            <li class="inline-block px-2"><a [routerLink]="['code']">Code</a></li>
            <li class="inline-block px-2"><a [routerLink]="['about']">About</a></li>
            <li class="inline-block px-2"><a [routerLink]="['contact']">Contact</a></li>
        </ul>
        <p class="text-center text-white dark:text-gray-300 text-xs my-2">Developed by Haden Watne. All rights reserved.</p>
    </div>
</div>