<app-widepanel>
    <h1>About Me</h1>
</app-widepanel>

<app-floatingpanel cssClass="lightGray">
    <p>I'm a 20-something guy with too much time on my hands. After graduating college with degrees in Computer Information Systems and
        Business Administration, I've been working full-time as a software developer.</p>
    <p>My hobbies include programming, playing tabletop games, hiking, and rock climbing.</p>
</app-floatingpanel>

<app-floatingpanel cssClass="blue">
    <h1>FAQs</h1>
    <app-dropexpand title="How did you get into programming?">
        <p>When I was 11, I discovered a program to create my own computer games. With it came a simple language that was perfect for
        beginners like me. From there, I taught myself Java in order to mod my Minecraft server, and thus the snowball started
        rolling.</p>
        <p>If you're looking to get started with programming, I recommend beginning with <a href="https://www.python.org/downloads/" target="_blank">Python</a>
        because of its simple syntax. I also recommend checking out
        <a href="https://www.amazon.com/Python-Programming-Introduction-Computer-Science/dp/1590282752" target="_blank">this book</a> to
        get you started! #NotSponsored</p>
    </app-dropexpand>
    <app-dropexpand title="I have a million-dollar app idea! Will you make it for me?">
        <p>Unfortunately, I can't commit extra time to building new projects. If you have an idea for a new app/website, there are lots of
            development companies out there who will build it for you in a much more professional way. Or, you could give it a shot
            yourself! Trust me, it's easier than you think!</p>
    </app-dropexpand>
    <app-dropexpand title="Do you have any tutorials available?">
        <p>Yes! I've recently put together the <a [routerLink]="['../scrolls']">Scrolls</a> page, which is a collection of guides and
        tutorials written by me. Very beginner-friendly and growing all the time! I encourage you to check it out!</p>
    </app-dropexpand>
    <app-dropexpand title="I love your website, where'd you buy it?">
        <p>Thank you! This website was fully designed by me, so I didn't buy it from anywhere.</p>
    </app-dropexpand>
    <p>Can't find the answer you're looking for? Feel free to <a [routerLink]="['../contact']">get in touch</a>!</p>
</app-floatingpanel>