/* Desktop-only (900px and above) */
@media screen and (min-width: 900px) {
    .floatingPanel .panelContent {
        width: 75%;
    }

    .floatingPanel {
        max-width: 50%;
        margin: 25px auto;
    }
}

/* Things smaller than that */
@media screen and (max-width: 900px){
    .floatingPanel .panelContent {
        width: 100%;
    }

    .floatingPanel {
        max-width: 80%;
        margin: 15px auto;
    }
}

.floatingPanel {
    padding: 15px;
    border-radius: 10px;
}

.floatingPanel .panelContent {
    margin: 0 auto;
    text-align: center;
}