<div class="text-center">
    <h1 class="p-3 my-4 inline-block font-game text-4xl align-middle">About Me</h1>

    <p class="p-5 text-left w-11/12 mx-auto lg:w-9/12 lg:text-center bg-gray-200 dark:bg-gray-600 rounded-md">I'm a geeky 20-something with a passion for building, learning, and implementing new ideas. I graduated college with with degrees in <strong>Computer Information Systems</strong> and <strong>Business Administration</strong>, and when I'm not at work, I enjoy playing video games and tabletop RPGs, casual hiking, music, reading, and working on side projects.</p>

    <hr class="w-9/12 mx-auto my-6 dark:border-gray-800"/>

    <div class="p-3 w-11/12 mx-auto my-4 lg:w-9/12 lg:text-center bg-sky-600 dark:bg-gray-600 text-white rounded-md">
        <h1 class="text-2xl font-game my-3">Q & A</h1>
        <p>Let's get to know each other a little more!</p>

        <hr class="w-9/12 mx-auto my-4 dark:border-gray-800"/>

        <app-dropexpand title="How did you get into programming?">
            <p>When I was 11, I discovered a program to create my own computer games. With it came a simple language that was perfect for
            beginners like me. From there, I taught myself Java in order to mod my Minecraft server, and thus the snowball started
            rolling.</p>
            <p>If you're looking to get started with programming, I recommend beginning with <a href="https://www.python.org/downloads/" target="_blank">Python</a>
            because of its simple syntax. I also recommend checking out
            <a href="https://www.amazon.com/Python-Programming-Introduction-Computer-Science/dp/1590282752" target="_blank">this book</a> to
            get you started! #NotSponsored</p>
        </app-dropexpand>
        <app-dropexpand title="What are you passionate about?">
            <p class="my-2">I'm a major privacy advocate - educating others on ways to protect their digital privacy is a personal goal of mine, and I'm afraid that we're seeing privacy rights disappearing each day.</p>
            <p class="my-2">I'm also a big proponent of digital security, and I encourage everyone I meet to ensure their data is safe on the Internet.</p>
            <p class="my-2">Lastly, advertising is one of my biggest pet peeves, and I make lots of decisions based on ads alone. I much prefer to pay for a service that's ad-free than to click through pop-ups or sell my data.</p>

            <p>Here are some great resources to learn more:</p>
            <p class="p-2 px-3 my-1 bg-gray-200 bg-opacity-30 rounded-md w-fit mr-2 inline-block"><a href="https://brianlovin.com/security" target="_blank">Security Checklist</a></p>
            <p class="p-2 px-3 my-1 bg-gray-200 bg-opacity-30 rounded-md w-fit mr-2 inline-block"><a href="https://www.thinkprivacy.ch/checklist/" target="_blank">Privacy Checklist</a></p>
            <p class="p-2 px-3 my-1 bg-gray-200 bg-opacity-30 rounded-md w-fit mr-2 inline-block"><a href="https://restoreprivacy.com/google-alternatives/" target="_blank">Google Product Alternatives</a></p>
        </app-dropexpand>
        <app-dropexpand title="Dream Job?">
            <p>I would love to work in a software engineering or architectural role at a company that shares my values for privacy and inclusive design. There are a few large tech companies out there who make this a priority, and my goal is to someday have the opportunity to work at one of them.</p>
        </app-dropexpand>
        <app-dropexpand title="Tell me about your website!">
            <p>This website was fully designed by me. It's been an ongoing personal project for years, and it has undergone several redesigns during the process.</p>
            <p>The current version is using Angular 12 with TailwindCSS 3, and it is hosted by Github Pages.</p>
        </app-dropexpand>
        <app-dropexpand title="Mac or PC?">
            <p>The short answer: Yes.</p>
            <p>The slightly longer answer: I own both, and I think both have their strengths and weaknesses. It's all about using the right tool for the job,
                and how easily you want to accomplish the task. I love my Mac, I've built my own PC, and I use both pretty regularly.
            </p>
        </app-dropexpand>
        <app-dropexpand title="Android or iOS?">
            <p>Right now, I use iOS</p>
        </app-dropexpand>
        <app-dropexpand title="Describe your personality!">
            <p>I'm an INTJ on the Myers-Briggs scale, and my Enneagram is a 5 wing-6.</p>
        </app-dropexpand>
        <app-dropexpand title="Favorite Anime?">
            <p>#1: Fullmetal Alchemist: Brotherhood</p>
            <p class="text-xs ml-3">(English Dub)</p>
            <p>#2: The Promised Neverland (Season 1)</p>
            <p class="text-xs ml-3">(Subtitled)</p>
            <p>#3: My Hero Academia</p>
            <p class="text-xs ml-3">(Subtitled)</p>
            <p>#4: Cory in the House</p>
            <p class="text-xs ml-3">(Available on Disney+)</p>
        </app-dropexpand>
        <app-dropexpand title="Do you take app requests?">
            <p>Unfortunately, I can't commit extra time to building new projects right now. However, having an exciting idea for a project is a great way to begin your
                own programming journey! The task may seem daunting, but with enough practice, programming can be both easy and fun. Give it a try!</p>
        </app-dropexpand>
        <app-dropexpand title="Can I follow you on social media?">
            <p>Thank you for your interest! Unfortunately, I'm not a social media user, so I don't have any accounts or pages to share. I don't view social media positively, and I don't want to be a part of it. As such, I do not have a Facebook or Twitter account, and there are no plans to open one at this time.</p>
            <p>If you are interested in professional connections, I have some links available on the <a [routerLink]="['../contact']" class="p-1 px-2 bg-gray-200 bg-opacity-40 rounded-md">Contact</a> page, so please feel free to check them out!</p>
        </app-dropexpand>

        <hr class="w-9/12 mx-auto my-4 dark:border-gray-800"/>

        <p class="text-sm">Can't find the answer you're looking for? Feel free to <a [routerLink]="['../contact']" class="p-1 px-2 bg-gray-200 bg-opacity-40 rounded-md">get in touch</a>!</p>
    </div>
</div>