<div class="text-center">
    <hw-header pageTitle="Get in Touch">
        <hw-bubble bgColor="bg-gray-200" bgColorDark="bg-gray-600">
            <p>Want to learn more about me or my work? Have a question I can answer? Please feel free to reach out using the links below. While I monitor my inbox everyday, please allow up to 24-48 hours for a response.</p>
        </hw-bubble>
    </hw-header>

    <hw-bubble bgColor="bg-sky-600" bgColorDark="bg-gray-600" textColor="text-white">
        <h1 class="text-2xl font-game my-3">Where to Find Me</h1>
        <p>Here is some of my contact information. I aim to keep this section up-to-date, and you can expect a reply from reasonable requests using any of
            the following:</p>

        <table class="table-fixed m-auto p-3 my-3 bg-gray-200 bg-opacity-30 rounded-md w-full text-center text-white lg:w-3/5">
            <tbody>
                <tr>
                    <td class="text-4xl w-20 lg:w-28 p-3 rounded-tl-md bg-sky-700 dark:bg-gray-700">
                        <i class="far fa-envelope"></i>
                    </td>
                    <td class="contactFormDetail">
                        <p class="centered"><a href="mailto:hello@hadenwatne.com" class="hover:text-sky-700 dark:hover:text-gray-700">hello@hadenwatne.com</a> | <a href="../../assets/haden_watne_public_key.asc" class="hover:text-sky-700 dark:hover:text-gray-700">PGP</a></p>
                    </td>
                </tr>
                <tr>
                    <td class="text-4xl w-20 lg:w-28 p-3 bg-sky-700 dark:bg-gray-700">
                        <i class="fab fa-github"></i>
                    </td>
                    <td class="contactFormDetail">
                        <p class="centered"><a href="https://github.com/hwdotexe" target="_blank" class="hover:text-sky-700 dark:hover:text-gray-700">@hwdotexe</a></p>
                    </td>
                </tr>
                <tr>
                    <td class="text-4xl w-20 lg:w-28 p-3 bg-sky-700 dark:bg-gray-700">
                        <i class="fab fa-stack-overflow"></i>
                    </td>
                    <td class="contactFormDetail">
                        <p class="centered"><a href="https://stackoverflow.com/users/15302833/hwdev?tab=profile" target="_blank" class="hover:text-sky-700 dark:hover:text-gray-700">@hwdev</a></p>
                    </td>
                </tr>
                <tr>
                    <td class="text-4xl w-20 lg:w-28 p-3 rounded-bl-md bg-sky-700 dark:bg-gray-700">
                        <i class="fab fa-linkedin"></i>
                    </td>
                    <td class="contactFormDetail">
                        <p class="centered"><a href="https://www.linkedin.com/in/haden-watne/" target="_blank" class="hover:text-sky-700 dark:hover:text-gray-700">View profile</a></p>
                    </td>
                </tr>
            </tbody>
        </table>

        <app-dropexpand title="What does PGP mean?">
            <p>PGP stands for Pretty Good Privacy, and is a widely-used system for online encryption. I've attached my PGP public key to this website in case you would like to email
                me in an encrypted fashion. If that is the case, please indicate this in your email, and provide me with your public key in turn.</p>
            <p>I am currently using ProtonMail as my email service provider - if you are also using this service, our communication is already encrypted.</p>
        </app-dropexpand>
    </hw-bubble>
    
    <hw-bubble bgColor="bg-red-600" bgColorDark="bg-gray-600" textColor="text-white">
        <h2 class="text-2xl font-game my-3">Looking for Minecraft help?</h2>
        <p>If you have a question or issue regarding one of my Minecraft projects, please reach out via Github instead. The Github Issue tracker is a more visible and convenient way to
            discuss issues about the project. Emails about plugin issues may be filtered out.</p>
        <p>Thanks for your participation!</p>
    </hw-bubble>
</div>