/* Desktop-only (900px and above) */
@media screen and (min-width: 900px) {
    .audioPlayer {
        width: 80%;
    }

    .audioPlayer .playBtn:hover {
        color: var(--color-blue);
        cursor: pointer;
    }
}

/* Things smaller than that */
@media screen and (max-width: 900px){
    .audioPlayer {
        width: 95%;
    }
}

.audioPlayer {
    text-align: left;
    margin: 15px auto;
    position: relative;
    padding: 10px;
    background-color: var(--color-light-blue);
    border-radius: 5px;
}

.audioPlayer h2, .audioPlayer p {
    margin: 0;
    max-width: 75%;
}

.audioPlayer p {
    display: block;
}

.audioPlayer .playBtn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 16px;
}