/*
Flyer
*/
.flyer {
    max-width: 960px;
    margin: 0 auto;
    border-radius: 5px 5px 0 0;
    min-height: 100px;
    padding: 10px;
}
.flyer h1 {
    padding: 15px 0 0 0;
}
.flyerItemGroup {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
}
.flyerItem {
    flex: 1;
    display: inline-block;
    text-align: center;
    border-right: 1px dashed rgba(0,0,0,0.5);
    transition: 0.05s;
}
.flyerItem p i {
    font-size: 2em;
}
.flyerItem:last-of-type{
    border-right: none;
}
.flyerItem:hover {
    font-weight: bold;
    cursor: pointer;
    color: var(--color-dark-blue);
}

#details {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
}

#details h2 {
    display: inline-block;
    padding: 5px;
    border-right: 2px solid white;
    margin-right: 10px;
}

#details p {
    display: inline-block;
}