<app-widepanel>
    <img src="//avatars.githubusercontent.com/u/5459165?s=460&v=4" alt="Profile Image" class="rounded"/>
    <h1>Hi, I'm Haden</h1>
</app-widepanel>

<app-widepanel>
    <app-hangar title="Who I am" tagline="" color="red">
        <ul>
            <li>Professional Nerd</li>
            <li>Monster Slayer</li>
            <li>Reader</li>
        </ul>
    </app-hangar>
    <app-hangar title="What I do" tagline="" color="green">
        <ul>
            <li>Software Engineering</li>
            <li>Tabletop Games</li>
            <li>Enjoy the Outdoors</li>
        </ul>
    </app-hangar>
</app-widepanel>

<app-floatingpanel cssClass="blue">
    <h1>Hello!</h1>
    <p>Thanks for stopping by!</p>
    <p>I'm a software developer, tabletop gamer, and university graduate currently residing in Colorado, USA.
        This site is here to introduce some of the things I am passionate about, have recently learned, or want to share with others online.</p>
    <p>To see more about what I do, check out the <a [routerLink]="['code']">Code</a> page at the top! Or, to learn more about me, visit the <a [routerLink]="['about']">About</a> page.</p>
</app-floatingpanel>
