<div class="text-center">
    <hw-header pageTitle="Code">
        <hw-bubble bgColor="bg-gray-200" bgColorDark="bg-gray-600">
            <p>Programming is a long-time fascination of mine, which has led me to pursue a professional career in the IT field. I love going to work every day knowing I am making a positive impact on something much bigger than myself. Over time, I've learned a little bit about a lot of things, and I've highlighted some of those below.</p>
        </hw-bubble>
    </hw-header>

    <hw-bubble bgColor="bg-green-600" bgColorDark="bg-gray-600" textColor="text-white">
        <h1 class="text-2xl font-game my-3">On The Job</h1>
        <table class="table-fixed m-auto w-full text-center text-white lg:w-3/5">
            <thead>
                <tr>
                    <td colspan="2" class="bg-gray-200 bg-opacity-40 text-lg">Professional Experience</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="p-1">Agile, SCRUM, and SAFe</td>
                    <td class="p-1">Git and TFS Version Control</td>
                </tr>
                <tr class="bg-gray-200 bg-opacity-20">
                    <td class="p-1">Production Releases</td>
                    <td class="p-1">Splunk</td>
                </tr>
                <tr>
                    <td class="p-1">Accessibility & Inclusive Design</td>
                    <td class="p-1">Azure DevOps Server</td>
                </tr>
                <tr class="bg-gray-200 bg-opacity-20">
                    <td class="p-1">Full-stack Development</td>
                    <td class="p-1">REST APIs</td>
                </tr>
                <tr>
                    <td class="p-1">Customer-focused Objectives</td>
                    <td class="p-1">Windows, macOS, and Linux</td>
                </tr>
            </tbody>
        </table>
    </hw-bubble>

    <app-hangar title="Languages" tagline="Programming languages I am familiar with" color="bg-sky-600" class="block lg:inline-block my-5">
        <ul class="columns-2">
            <li>Typescript</li>
            <li>JavaScript</li>
            <li>HTML & CSS</li>
            <li>C#</li>
            <li>Python</li>
            <li>SQL</li>
            <li>Java</li>
            <li>Swift</li>
        </ul>
    </app-hangar>
    <app-hangar title="IDEs" tagline="Development environments I have used" color="bg-sky-600" class="block lg:inline-block my-5">
        <ul class="columns-2">
            <li>Visual Studio</li>
            <li>Xcode</li>
            <li>VSCode</li>
            <li>IntelliJ IDEA</li>
            <li>PyCharm</li>
            <li>WebStorm</li>
            <li>Eclipse</li>
            <li>SSMS</li>
        </ul>
    </app-hangar>
    <app-hangar title="Frameworks" tagline="My favorite frameworks, libraries, and projects" color="bg-sky-600" class="block lg:inline-block my-5">
        <ul class="columns-2">
            <li>Angular</li>
            <li>ReactiveX</li>
            <li>Newtonsoft JSON</li>
            <li>Font Awesome</li>
            <li>TailwindCSS</li>
            <li>PaperSpigot</li>
            <li>Java Discord API (JDA)</li>
            <li>Homebridge</li>
        </ul>
    </app-hangar>

    <hw-bubble bgColor="bg-sky-600" bgColorDark="bg-gray-600" textColor="text-white">
        <h1 class="text-2xl font-game my-3">Code Cred</h1>
        <p class="p-1">To view a list of technical certifications and credentials I've acquired, please visit my <hw-link isExternal="true" destination="https://www.credly.com/users/haden-watne/badges" display="Credly"></hw-link> page.</p>
        <p class="text-sm p-1">Credly is a third-party service that verifies and displays the certifications I have earned.</p>
    </hw-bubble>

    <hw-bubble bgColor="bg-red-600" bgColorDark="bg-gray-600" textColor="text-white">
        <h1 class="text-2xl font-game my-3">Free Time</h1>
        <p>When I'm not on the job, you can find a variety of personal projects and contributions on my Github account, <hw-link isExternal="true" destination="https://github.com/hwdotexe" display="@hwdotexe"></hw-link></p>
    </hw-bubble>
</div>