<div *ngIf="{pageList: pageList$ | async, categoryList: categoryList$ | async} as scrollData" id="sidebar">
    <div id="sidebarExtra" class="clickable" (click)="this.goToWelcome()">
        <p class="barcode">Scrolls</p>
        <p><strong>Complex stuff. Simple guides.</strong></p>
    </div>

    <!-- Links without a category go first -->
    <div *ngFor="let page of scrollData.pageList">
        <div *ngIf="page.category.length === 0" class="sidebarLinkSingle" (click)="this.linkClick(page.fragment)">
            <div *ngIf="this.currentPage === page.fragment" class="currentPage">
                <p>{{page.displayName}}</p>
            </div>
            <div *ngIf="this.currentPage !== page.fragment">
                <p>{{page.displayName}}</p>
            </div>
        </div>
    </div>
    
    <!-- Links with a category get organized accordingly -->
    <div *ngFor="let category of scrollData.categoryList">
        <div class="sidebarGroup">
            <app-sidebarGroup [title]="category.displayName" [currentPage]="currentPage" [categoryID]="category.categoryID"></app-sidebarGroup>
        </div>
    </div>
</div>