/* Large Display */
@media screen and (min-width: 900px) {
    .barcode {
        font-size: 4em;
    }

    .sidebarLinkSingle {
        padding: 0 10px;
    }

    #sidebar #sidebarExtra {
        padding: 5px;
        margin-top: 10px;
        border-bottom: 1px solid var(--color-light-blue);
    }

    #sidebar .sidebarGroup {
        padding: 0 10px;
    }
}

/* Things smaller than that */
@media screen and (max-width: 900px){
    .barcode {
        font-size: 3.5em;
    }

    #sidebar {
        max-height: 500px;
        overflow-y: scroll;
        border-bottom: 1px solid var(--color-light-blue);
    }

    .sidebarLinkSingle, .sidebarGroup {
        padding: 10px;
        border-bottom: 1px solid var(--color-gray-highlight);
    }

    #sidebar .sidebarGroup:last-of-type {
        border-bottom: none;
    }

    #sidebar #sidebarExtra {
        padding: 10px;
        margin-top: 15px;
    }

    #sidebar #sidebarExtra p {
        margin: 0;
        padding: 5px;
    }
}

.barcode {
    font-family: "Libre Barcode 39 Text", sans-serif;
    margin: 0;
    padding: 5px;
}

.clickable:hover {
    cursor: pointer;
}

#sidebar #sidebarExtra {
    text-align: center;
}

.sidebarLinkSingle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebarLinkSingle:hover, .currentPage {
    color: var(--color-light-blue);
    cursor: pointer;
    text-decoration: underline;
}