/* Desktop-only (900px and above) */
@media screen and (min-width: 900px) {
    .floatingPanelLite {
        max-width: 60%;
        margin: 25px auto;
        border-radius: 10px;
    }
}

/* Things smaller than that */
@media screen and (max-width: 900px){
    .floatingPanelLite .panelContent {
        width: 100%;
    }

    .floatingPanelLite {
        margin: 15px auto;
    }
}

.floatingPanelLite .panelContent {
    margin: 0 auto;
    text-align: center;
}

.floatingPanelLite .panelContent h1 {
    margin: 0;
    font-family: 'Bangers', sans-serif;
    font-size: 3em;
}