<div id="sidebar">
    <div id="sidebarExtra" class="clickable" (click)="this.goToWelcome()">
        <p class="barcode">Scrolls</p>
        <p><strong>Complex stuff. Simple guides.</strong></p>
    </div>

    <!-- Links without a category go first -->
    <div *ngFor="let x of this.pages.pages; index as i">
        <div *ngIf="x.category.length == 0" class="sidebarLinkSingle" (click)="this.linkClick(i)">
            <div *ngIf="this.currentPage == i" class="currentPage">
                <p>{{x.name}}</p>
            </div>
            <div *ngIf="this.currentPage != i">
                <p>{{x.name}}</p>
            </div>
        </div>
    </div>
    
    <!-- Links with a category get organized accordingly -->
    <div *ngFor="let cat of this.pages.categories; index as i">
        <div class="sidebarGroup">
            <app-sidebarGroup [title]="cat.name" [currentPage]="this.currentPage" [categoryID]="cat.id"></app-sidebarGroup>
        </div>
    </div>
</div>