<app-widepanel>
    <div>
        <h1>// Code</h1>
    </div>
</app-widepanel>

<app-floatingpanel cssClass="lightGray">
    <p>I currently work as a full-time software developer. Both professionally and in my free time, I enjoy creating exciting projects for others to use.
        I love exploring new technologies and learning new skills, so here is a list of some things I can do.
    </p>
</app-floatingpanel>

<app-widepanel>
    <app-hangar title="Languages" tagline="Programming languages I am familiar with" color="lightBlue">
        <ul>
            <li>Angular</li>
            <li>JavaScript</li>
            <li>HTML & CSS</li>
            <li>C#</li>
            <li>Python</li>
            <li>SQL</li>
            <li>Java</li>
            <li>Swift</li>
        </ul>
    </app-hangar>
    <app-hangar title="IDEs" tagline="Development environments I have used" color="lightBlue">
        <ul>
            <li>Visual Studio</li>
            <li>Xcode</li>
            <li>VSCode</li>
            <li>IntelliJ IDEA</li>
            <li>PyCharm</li>
            <li>WebStorm</li>
            <li>Eclipse</li>
            <li>SSMS</li>
        </ul>
    </app-hangar>
</app-widepanel>

<app-floatingpanel cssClass="blue">
    <h1>Certs</h1>
    <p>For a list of technical certifications I've acquired, please visit my Credly page below. Credly is a third-party service that verifies and displays the certifications I have earned.</p>
    <p class="centered"><a href="https://www.credly.com/users/haden-watne/badges" target="_blank">Go to Credly</a></p>
</app-floatingpanel>

<app-floatingpanel cssClass="red">
    <h1>On The Job</h1>
    <table class="itemTable">
        <thead>
            <tr>
                <td colspan="2">Professional Experience</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Agile, SCRUM, and SAFe</td>
                <td>Git and TFS Version Control</td>
            </tr>
            <tr>
                <td>Production Releases</td>
                <td>Splunk</td>
            </tr>
            <tr>
                <td>Accessibility & Inclusive Design</td>
                <td>Azure DevOps Server</td>
            </tr>
            <tr>
                <td>Full-stack Development</td>
                <td>REST APIs</td>
            </tr>
            <tr>
                <td>Customer-focused Objectives</td>
                <td>Windows, macOS, and Linux</td>
            </tr>
        </tbody>
    </table>
</app-floatingpanel>

<app-floatingpanel cssClass="green">
    <h1>Free Time</h1>
    <p>When I'm not on the job, you can find a variety of personal projects and contributions on my Github account, <a href="https://github.com/hwdotexe" target="_blank">@hwdotexe</a></p>
</app-floatingpanel>