<div class="text-center">
  <h1 class="font-game pt-4 text-5xl">2023</h1>
  <hw-header pageTitle="">
    <hw-bubble bgColor="bg-gray-200" bgColorDark="bg-gray-600">
      <p class="font-bold text-lg">A letter to years past and years to come.</p>
    </hw-bubble>
  </hw-header>

  <hw-bubble bgColor="bg-sky-600" bgColorDark="bg-sky-600" textColor="text-white">
    <div class="text-left">
      <p class="font-bold">Dear 2022,</p>
      <p>
        You were the year that taught me to stand up for myself, to right past wrongs, to be more confident, to try new things, to break out of my
        comfort zone, to know that it's okay to feel, and to challenge myself. You were filled with many happy moments, first times, and personal
        growth. I got to enjoy the arts, climb mountains, and be creative. I found new hobbies, made new friends, and gave second chances. As I
        reflect on everything that happened over this past year, I am thankful for the friends, family, and coworkers who stood by my side and went
        through it with me.
      </p>
      <p class="mt-2">
        Like all years, of course, you were not without challenges. There were many anxieties and insecurities, there was loneliness and anger, and
        even remorse for missed opportunities. You reminded me that the world is not a perfect place. It is full of hate, ignorance, and competing
        voices. You drove me to ask questions, to search for answers of my own, to think twice, and ultimately, to write this letter.
      </p>
      <p class="mt-2">
        I know that some of your complexities aren't over and will only grow as time goes on. I know that writing this note will spawn even more. I'm
        writing this to tell you that I'm bigger than you, that I faced your challenges with courage and understanding, and that I'm not sorry for
        taking time to improve myself. Thank you for giving me the time I needed to pick apart the past so I could build a brighter future. As you
        come to a close, I leave behind my insecurities - the ones I've carried for years, and the ones you gave to me. You can keep them.
      </p>
      <p class="mt-2">
        Through your last 12 months, I learned about myself. I learned that I did not have a normal childhood, nor did I have normal male influence. I
        learned that I, in many respects, felt like an outcast in my teenage years, even though I didn't know it at the time. I learned that it's okay
        if boys don't play sports, or work on cars, or hang a poster of the Laker Girls on their bedroom door. I learned that the "spiritual attacks"
        I dealt with for 8 years were actually intrusive thoughts and compulsions - symptoms of my untreated OCD. I learned that I trust science and
        the professionals who dedicate themselves to its study. I learned to dissociate myself from the hypocrisy, ignorance, and legalism I carried
        for so long. I learned that I have been starving for companionship, having accepted that I love other boys - a fact I've known for many years,
        but always fought against. I learned that I will make enemies and lose friendships as a result. I learned to forgive myself for taking my
        time, for promoting the same things that now stand in my face, and for being insensitive to others around me fighting their own battles.
      </p>
      <p class="font-bold mt-3">Dear 2023,</p>
      <p>
        It may be a simple changing of the calendar, but I am hopeful for what you have to bring. I have been caught in a rapid of emotion,
        circumstance, and conflict, and there's no telling where these will lead in the year to come. The best thing I can do is enter with my head
        held high, continue to learn and grow as a person, and be a force for good to help others achieve the same.
      </p>
      <p class="mt-2">
        I know that many people reading this note will have questions, objections, and a couple of suggestions. In time, I will be ready to listen to
        them. For right now, all I ask is for their patience and openness. I'm not asking for their approval or for them to condone; I am only asking
        for their acceptance.
      </p>
      <p class="mt-2">Let's make this a bright and constructive new year.</p>
      <p class="mt-2 text-right">- Haden</p>
    </div>
  </hw-bubble>
</div>
