<div class="text-center">
  <h1 class="font-game pt-4 text-5xl">2023</h1>
  <hw-header pageTitle="">
    <hw-bubble bgColor="bg-gray-200" bgColorDark="bg-gray-600">
      <p>A letter to years past and years to come.</p>
    </hw-bubble>
  </hw-header>

  <hw-bubble bgColor="bg-sky-600" bgColorDark="bg-sky-600" textColor="text-white">
    <div class="text-left">
      <p class="font-bold">Dear 2022,</p>
      <p>
        You were the year that taught me to stand up for myself, to right past wrongs, to be more confident, to try new things, to break out of my
        comfort zone, to know that it's okay to feel, and to challenge myself. You were filled with many happy moments, first times, and personal
        growth. But, you also came with anxieties, fear of the "what ifs," reservations, insecurities, loneliness, anger, and remorse for lost
        opportunities. I got to enjoy the arts, to climb mountains, and to be creative. I found new hobbies, made new friends, and gave second
        chances. But, you showed me that the world is not a perfect place. It is full of hate, grays, and voices competing with each other for my
        attention. You drove me to ask questions, to search for answers of my own, to think twice, and ultimately, to write this letter.
      </p>
      <p class="mt-1">
        I know that some of your complexities aren't over, and will only grow as time goes on. I know that writing this letter will spawn even more.
        I'm writing this to tell you that I'm bigger than you, that I faced your challenges with courage and understanding, and that I'm not sorry for
        taking time to improve myself. Thank you for giving me the time I needed to pick apart the past so I could build a brighter future. As you
        come to a close, I leave behind my insecurities - the ones I've carried for years, and the ones you gave to me. You can keep them.
      </p>
      <p class="font-bold mt-2">Dear 2010,</p>
      <p>
        You were the year of uncertainty, the year of new beginnings, and the year of growing up. You brought hardship, bullies, and financial stress.
        You took away friends, community, and familiarity. Yet, you brought potential, the prospect of something new, and a sense of adventure. You
        brought fun, story, imagination, and surprise. You taught me to love technology, to be creative, and to value the work of my hands. You led me
        through self-discovery, challenged me academically, and showed me how to volunteer.
      </p>
      <p class="mt-1">
        Yet, you were the year that started my OCD - my intrusive thoughts that told me the Devil would lurk nearby whenever I closed my eyes. I would
        live with you clear through college, quietly repeating prayers until the compulsions were satisfied. You were the year that divided me from my
        father and brother, reminding me that I wasn't "one of the guys" like them. You brought diagnosis, prejudice and legalism, seclusion, and
        family troubles that I wouldn't learn about for years.
      </p>
      <p class="font-bold mt-2">Dear 2015,</p>
      <p>
        You were joy and wonder, the outset of a new chapter, the end, and the beginning. You brought excitement as I left high school and began my
        college career. You brought work-ethic, experience, and you saw me achieve my goals. You were intimidating and uncertain at first, but soon
        found me with peers, friends, and a sense of community I had been without for five years. I was independent, a little in over my head, and
        ambitious.
      </p>
      <p class="mt-1">
        For all the sweetness you brought, you ended sour. First came shame, as I began to discover that my environment did not match who I was. I
        would carry this shame with me until I graduated. You then brought betrayal, as my friends became bullies, bringing me back to that place of
        loneliness. Finally, you brought pain, as my sister received a lifelong diagnosis, forever changing our lives. I'm not ungrateful for you,
        2015, but you carry so many of my regrets.
      </p>
      <p class="font-bold mt-2">Dear 2020,</p>
      <p>Lorem Ipsum</p>
      <p class="mt-1">Lorem Ipsum</p>
      <p class="font-bold mt-2">Dear 2023,</p>
      <p>Lorem Ipsum</p>
      <p class="mt-1">Lorem Ipsum</p>
    </div>
  </hw-bubble>
</div>
