<div class="flex justify-center items-center text-center min-h-screen">
  <div class="md:min-w-[50rem]">
    <img
      src="../../../assets/img/logos/logo_tpb.png"
      class="text-center mx-auto max-w-[9rem] md:max-w-[15rem] mt-5 md:mt-0"
      alt="The initials HW in handwriting."
      title="Site logo" />
    <h1 class="font-game text-2xl md:text-3xl mt-3">Hi, I'm Haden</h1>
    <hr class="border-gray-600 border-b-2 my-6 mx-auto max-w-[90%] md:max-w-full" />

    <div class="text-center bg-gray-100 rounded-md shadow-sm py-7 my-8">
      <app-social-button
        icon="fa-brands fa-linkedin"
        color="bg-red-700"
        link="https://www.linkedin.com/in/haden-watne/"
        title="LinkedIn"></app-social-button>
      <app-social-button icon="fa-brands fa-github" color="bg-orange-600" link="https://github.com/hwdotexe" title="Github"></app-social-button>
      <app-social-button
        icon="fa-regular fa-envelope"
        color="bg-amber-400"
        link="mailto:hello@hadenwatne.com"
        title="Email"
        [blank]="false"></app-social-button>
      <br class="md:hidden" />
      <app-social-button
        icon="fa-solid fa-award"
        color="bg-green-600"
        link="https://www.credly.com/users/haden-watne/badges"
        title="Credentials"></app-social-button>
      <app-social-button
        icon="fa-brands fa-stack-overflow"
        color="bg-sky-600"
        link="https://stackoverflow.com/users/15302833/hwdev?tab=profile"
        title="StackOverflow"></app-social-button>
      <app-social-button
        icon="fa-regular fa-file"
        color="bg-violet-800"
        link="../../../assets/file/haden_watne_resume.pdf"
        title="Resume"></app-social-button>
    </div>

    <div>
      <app-hangar title="Who I Am" tagline="" color="bg-sky-600" class="block md:inline-block my-5">
        <ul>
          <li>Full-Stack Software Engineer</li>
          <li>Coffee Connoisseur</li>
          <li>Amateur Hiker</li>
          <li>Privacy Advocate</li>
        </ul>
      </app-hangar>
      <app-hangar title="What I Know" tagline="" color="bg-sky-600" class="block md:inline-block my-5">
        <ul class="columns-2">
          <li>Agile</li>
          <li>CI/CD</li>
          <li>Dependency Injection</li>
          <li>ReactiveX</li>
          <li>Redux</li>
          <li>Splunk</li>
          <li>Quantum Metric</li>
          <li>Version Control</li>
        </ul>
      </app-hangar>
    </div>

    <div class="text-center bg-gray-100 rounded-md shadow-sm py-7 my-8 md:mb-4">
      <div class="inline-block text-3xl text-gray-600">
        <i class="mx-3 my-1 fa-solid fa-dice-d20"></i>
        <i class="mx-3 my-1 fa-solid fa-tree"></i>
        <i class="mx-3 my-1 fa-solid fa-dumbbell"></i>
        <i class="mx-3 my-1 fa-solid fa-music"></i>
        <i class="mx-3 my-1 fa-solid fa-mug-hot"></i>
        <i class="mx-3 my-1 fa-solid fa-gamepad"></i>
        <br class="inline-block md:hidden" />
        <i class="mx-3 my-1 fa-brands fa-angular"></i>
        <i class="mx-3 my-1 fa-brands fa-java"></i>
        <i class="mx-3 my-1 fa-brands fa-js"></i>
        <i class="mx-3 my-1 fa-brands fa-python"></i>
        <i class="mx-3 my-1 fa-solid fa-code"></i>
        <i class="mx-3 my-1 fa-solid fa-database"></i>
      </div>
    </div>
  </div>
</div>
