/* Desktop-only (900px and above) */
@media screen and (min-width: 900px) {
    .dropTitle:hover {
        cursor: pointer;
    }
}

.dropTitle {
    font-weight: bold;
}

.dropTitle:hover {
    color: #63adf2;
}

.dropExpand {
    margin: 20px 0;
    text-align: left;
}

.dropText {
    margin-left: 10px;
    padding: 2px 10px;
    border-radius: 5px;
    background-color: rgba(245,245,245,0.1);
}