<div class="text-center">
    <hw-header pageTitle="#404">
        <hw-bubble bgColor="bg-gray-200" bgColorDark="bg-gray-600">
            <p>Perhaps the archives are incomplete.</p>
        </hw-bubble>
    </hw-header>

    <div class="p-3 w-11/12 mx-auto my-4 lg:w-9/12 lg:text-center bg-sky-600 dark:bg-gray-600 text-white rounded-md">
        <p>The page you were just looking for couldn't be found. I don't know whose fault that is. Look, instead of pointing fingers, why don't we try that again?</p>
        <p><hw-link destination="/" display="Back to Home"></hw-link></p>
    </div>
</div>