<div class="flex justify-center items-center text-center min-h-screen text-gray-800 dark:text-gray-300">
  <div class="md:min-w-200">
    <h1 class="font-game text-2xl md:text-3xl mt-16">Hi, I'm Haden</h1>
    <hr class="border-gray-600 border-b-2 my-6 mx-auto max-w-[90%] md:max-w-full" />

    <div class="text-center bg-gray-100 dark:bg-gray-900 rounded-md shadow-sm py-7 my-8">
      <app-social-button icon="fa-brands fa-github" color="bg-red-700" link="https://github.com/hwdotexe" title="Github"></app-social-button>
      <app-social-button
        icon="fa-regular fa-envelope"
        color="bg-orange-600"
        link="mailto:hello@hadenwatne.com"
        title="Email"
        [blank]="false"></app-social-button>
      <br class="md:hidden" />
      <app-social-button
        icon="fa-solid fa-award"
        color="bg-amber-400"
        link="https://www.credly.com/users/haden-watne/badges"
        title="Credentials"></app-social-button>
      <app-social-button
        icon="fa-regular fa-file"
        color="bg-green-600"
        link="../../../assets/file/haden_watne_resume.pdf"
        title="Resume"></app-social-button>
    </div>

    <div>
      <app-hangar title="Who I Am" tagline="" color="bg-ltShamrock-100 dark:bg-dkShamrock" class="block md:inline-block my-5">
        <ul class="columns-2 text-sm">
          <li>Software Engineer</li>
          <li>Coffee Connoisseur</li>
          <li>Amateur Hiker</li>
          <li>Storyteller</li>
          <li>Privacy Advocate</li>
          <li>Small Business Owner</li>
        </ul>
      </app-hangar>
      <app-hangar title="How I Work" tagline="" color="bg-ltShamrock-100 dark:bg-dkShamrock" class="block md:inline-block my-5">
        <ul class="columns-2 text-sm">
          <li>Agile & SCRUM</li>
          <li>CI/CD</li>
          <li>LEAN Advocate</li>
          <li>Automation</li>
          <li>Modernization</li>
          <li>Servant Leadership</li>
        </ul>
      </app-hangar>
    </div>

    <div class="shadow-sm mb-10 mt-8">
      <div class="bg-ltShamrock-100 dark:bg-dkShamrock rounded-tl-md rounded-tr-md">
        <p class="text-xl font-game py-5 text-white">What I Know</p>
      </div>
      <div class="text-center bg-gray-100 dark:bg-gray-900 rounded-bl-md rounded-br-md p-3">
        <div class="text-3xl text-gray-600 dark:text-gray-500 columns-4">
          <ul class="content-center">
            <li class="my-5">
              <i class="fa-brands fa-angular"></i>
              <p class="text-xs font-semibold">Angular</p>
            </li>
            <li class="my-5">
              <i class="fa-brands fa-java"></i>
              <p class="text-xs font-semibold">Java</p>
            </li>
            <li class="my-5">
              <i class="fa-solid fa-file-code"></i>
              <p class="text-xs font-semibold">C#</p>
            </li>
            <li class="my-5">
              <i class="fa-brands fa-js"></i>
              <p class="text-xs font-semibold">JavaScript</p>
            </li>
            <li class="my-5">
              <i class="fa-brands fa-python"></i>
              <p class="text-xs font-semibold">Python</p>
            </li>
            <li class="my-5">
              <i class="fa-solid fa-database"></i>
              <p class="text-xs font-semibold">SQL</p>
            </li>
            <li class="my-5">
              <i class="fa-solid fa-circle-nodes"></i>
              <p class="text-xs font-semibold">No-SQL</p>
            </li>
            <li class="my-5">
              <i class="fa-brands fa-stripe"></i>
              <p class="text-xs font-semibold">Stripe</p>
            </li>
            <li class="my-5">
              <i class="fa-brands fa-aws"></i>
              <p class="text-xs font-semibold">AWS</p>
            </li>
            <li class="my-5">
              <i class="fa-brands fa-figma"></i>
              <p class="text-xs font-semibold">Figma</p>
            </li>
            <li class="my-5">
              <i class="fa-brands fa-github"></i>
              <p class="text-xs font-semibold">Github</p>
            </li>
            <li class="my-5">
              <i class="fa-solid fa-chevron-right"></i>
              <p class="text-xs font-semibold">Splunk</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
