.light-theme {
    --color-text: #000;
    --color-text-inverted: #fff;
    --color-shadow: #999;

    --color-light-blue-link: #a8d1f7;
    --color-light-blue: #63adf2;
    --color-blue: #2274a5;
    --color-dark-blue: #0d547c;

    --color-light-red: #ffbb59;
    --color-red: #db4c36;
    --color-dark-red: #b92a14;

    --color-light-green: #78bf50;
    --color-green: #456b2f;
    --color-dark-green: #374824;

    --color-light-gray: #ececec;
    --color-gray: #777;
    --color-gray-transparent: rgba(255,255,255,0.85);
    --color-gray-highlight: rgba(255,255,255,0.2);

    --color-white: #fff;

    --color-background: #fff;
}

.dark-theme {
    --color-text: #eaeaea;
    --color-text-inverted: #ddd;
    --color-shadow: #222;

    --color-light-blue-link: #777;
    --color-light-blue: #757575;
    --color-blue: #2a2a2a;
    --color-dark-blue: #1a1a1a;

    --color-light-red: #555;
    --color-red: #222;
    --color-dark-red: #2a2a2a;

    --color-light-green: #4a4a4a;
    --color-green: #2a2a2a;
    --color-dark-green: #111;

    --color-light-gray: #6F6F6F;
    --color-gray: #666;
    --color-gray-transparent: rgba(50,50,50,0.85);
    --color-gray-highlight: rgba(255,255,255,0.1);

    --color-white: #ddd;

    --color-background: #333;
}

.white {
    background-color: var(--color-white);
    color: var(--color-text);
}

.white a {
    color: var(--color-light-blue);
}

.white p a {
    font-weight: bold;
}

.white a:hover {
    color: var(--color-dark-blue);
}

.lightGray {
    background-color: var(--color-light-gray);
    color: var(--color-text);
}

.lightGray a {
    color: var(--color-gray);
}

.lightGray p a {
    font-weight: bold;
}

.lightGray a:hover {
    color: var(--color-light-blue);
}

.gray {
    background-color: var(--color-gray-transparent);
    color: var(--color-text);
}

.gray a {
    color: var(--color-light-blue);
}

.gray p a {
    font-weight: bold;
}

.gray a:hover {
    color: var(--color-dark-blue);
}

.lightBlue {
    background-color: var(--color-light-blue);
    color: var(--color-text-inverted);
}

.lightBlue a {
    color: var(--color-text-inverted);
}

.lightBlue p a {
    font-weight: bold;
}

.lightBlue a:hover {
    color: var(--color-blue);
}

.lightBlue h1, .lightBlue h2 {
    color: var(--color-text-inverted);
}

.blue {
    background-color: var(--color-blue);
    color: var(--color-text-inverted);
}

.blue a {
    color: var(--color-light-blue-link);
}

.blue p a {
    font-weight: bold;
}

.blue a:hover {
    color: var(--color-dark-blue);
}

.blue h1, .blue h2 {
    color: var(--color-text-inverted);
}

.darkBlue {
    background-color: var(--color-dark-blue);
    color: var(--color-text-inverted);
}

.darkBlue a {
    color: var(--color-light-blue);
}

.darkBlue p a {
    font-weight: bold;
}

.darkBlue a:hover {
    color: var(--color-blue);
}

.darkBlue h1, .darkBlue h2 {
    color: var(--color-text-inverted);
}

.red {
    background-color: var(--color-red);
    color: var(--color-text-inverted);
}

.red a {
    color: var(--color-light-red);
}

.red p a {
    font-weight: bold;
}

.red a:hover {
    color: var(--color-dark-red);
}

.red h1, .red h2 {
    color: var(--color-text-inverted);
}

.green {
    background-color: var(--color-light-green);
    color: var(--color-text-inverted);
}

.green a {
    color: var(--color-green);
}

.green p a {
    font-weight: bold;
}

.green a:hover {
    color: var(--color-dark-green);
}

.green h1, .green h2 {
    color: var(--color-text-inverted);
}