@import 'tailwindcss';
@config "../tailwind.config.js";

@theme {
  --font-game: 'Press Start 2P', 'ui-sans-serif';
  --font-body: 'PT Sans', 'ui-sans-serif';
  --font-legend: 'UnifrakturCook', 'serif';
  --font-story: 'Macondo Swash Caps', 'serif';

  --color-ltShamrock-100: #279a51;
  --color-ltShamrock-200: #218345;
  --color-ltShamrock-300: #186233;
  --color-dkShamrock: #186333;
  --color-ltDeepSky-100: #1fb4ff;
  --color-ltDeepSky-200: #00a3f5;
  --color-ltDeepSky-300: #0088cc;
  --color-ltViolet-100: #4c4b63;
}
