<div class="text-left my-4 border rounded-md hover:cursor-pointer bg-sky-700 dark:bg-gray-700" (click)="toggleText()">
    <div class="flex hover:text-sky-400 dark:hover:text-gray-500 p-2">
        <p class="flex-auto text-lg px-2 font-semibold">{{title}}</p>

        <div class="flex-initial self-center px-2">
            <i *ngIf="!isExpanded" class="fa-solid fa-chevron-down"></i>
            <i *ngIf="isExpanded" class="fa-solid fa-chevron-up"></i>
        </div>
    </div>

    <div *ngIf="isExpanded" class="p-4 border-t"> 
        <ng-content></ng-content>
    </div>
</div>