@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/* Desktop-only (900px and above) */
@media screen and (min-width: 900px) {
    .widePanel .panelContent {
        width: 60%;
    }
}

/* Things smaller than that */
@media screen and (max-width: 900px){
    .widePanel .panelContent {
        width: 100%;
    }
}

.widePanel {
    padding: 15px;
}

.widePanel .panelContent {
    margin: 0 auto;
    text-align: center;
}