<app-widepanel>
    <h1>The Voice in Your Head</h1>
</app-widepanel>

<app-floatingpanel cssClass="red">
    <p>I am currently taking a hiatus from voiceover work. This page has been left online for your convenience, but I am not currently available for new projects.
        Thank you for your interest and understanding!
    </p>
</app-floatingpanel>

<app-floatingpanel cssClass="lightGray">
    <p>Hi there! My name's Haden, and I'm an aspiring voice actor.</p>
    <p>I've been interested in this field for a long time, and have recently started a voiceover career journey of my own. Having grown up playing video games,
        watching cartoons, and listening to audiobooks, I share a special attachment to these exciting areas of entertainment. Now it's my turn to make
        an impact.</p>
    <p>Voice range: medium-high - medium-low</p>
</app-floatingpanel>

<app-floatingpanel cssClass="blue">
    <h1>Demos</h1>
    <app-audioplayer trackName="Voice Reel" trackDesc="June 2020" trackLink="../../assets/sound/voicedemo2.mp3"></app-audioplayer>
    <!-- <app-audioplayer trackName="Character Reel" trackDesc="April 2020" trackLink="../../assets/sound/voicedemo.mp3"></app-audioplayer> -->
</app-floatingpanel>

<app-floatingpanel cssClass="blue" *ngIf="false">
    <h1>Past Projects</h1>
    <br/>
    <ul>
        <li>Role</li>
        <li>Role</li>
        <li>Role</li>
        <li>Role</li>
        <li>Role</li>
        <li>Role</li>
    </ul>
</app-floatingpanel>

<app-floatingpanel cssClass="blue">
    <h1>Gear</h1>
    <table class="itemTable">
        <thead>
            <tr>
                <td>Equipment</td>
                <td>Software</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sennheiser MK4 Microphone</td>
                <td>Reaper</td>
            </tr>
            <tr>
                <td>Scarlett Solo Interface</td>
                <td>Soundforge Pro 12</td>
            </tr>
            <tr>
                <td>Sound-dampened Room</td>
                <td>Sony Vegas Pro 14</td>
            </tr>
            <tr>
                <td>Custom-built PC</td>
                <td>Skype/Discord</td>
            </tr>
        </tbody>
    </table>
</app-floatingpanel>